body {
  font-family: 'Raleway';
  background-color: #ddd;
  /* background-color: #ffe0cc; */
  /* background-image: linear-gradient(to bottom, #315481, #918e82 100%); */
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}
button {
  font-weight: bold;
  font-size: 1em;
  border: none;
  color: white;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  padding: 5px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #ff6600;
  text-align: center;
}

.app-header {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  background: white;
}

.main::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: inherit;
}

header {
  background: #ff6600;
  /* background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%); */
  padding: 20px 15px 15px 15px;
  position: relative;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
}

.app-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app-bar h2 {
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  margin-right: 1em;
  margin-left: 1em;
  color: #333;
}

.task-form {
  display: flex;
  margin: 16px;
}

.task-form > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
}

.task-form > input:focus {
  outline: 0;
}

.task-form > button {
  min-width: 100px;
  height: 95%;
  background-color: #315481;
}

.tasks {
  list-style-type: none;
  padding-inline-start: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.tasks > li {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  /* border-top: 3px solid black; */
  align-items: center;
  border-bottom: #eee solid 1px;
}

.tasks > li > span {
  flex-grow: 1;
  margin: .5em;
}

.tasks > li > button {
  justify-self: flex-end;
  background-color: #ff3046;
  margin: 3px;
  border-radius: 5px;
}
.projects {
  list-style-type: none;
  padding-inline-start: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.projects > li {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  align-items: center;
  border-bottom: #eee solid 1px;
}

.projects > li > span {
  flex-grow: 1;
  margin: .5em;
}

.projects > li > button {
  justify-self: flex-end;
  background-color: #ff3046;
  margin: 3px;
  border-radius: 5px;
}

.items {
  list-style-type: none;
  padding-inline-start: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.items > li {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  align-items: center;
  border-bottom: #eee solid 1px;
}

.items > li > span {
  flex-grow: 1;
  margin: .5em;
}

.items > li > button {
  justify-self: flex-end;
  background-color: #ff3046;
  margin: 3px;
  border-radius: 5px;
}
.filter {
  display: flex;
  justify-content: center;
}

.filter > button {
  background-color: #333;
  border-radius: 5px;
  margin: 3px;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  margin-top: 1em;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
}

.login-form > div > label {
  font-weight: bold;
}

.login-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.login-form > div > input:focus {
  outline: 0;
}

.login-form > div > button {
  background-color: #62807e;
  border-radius: 5px;
}
.user {
  display: flex;

  align-self: flex-end;
  cursor: pointer;
  margin: 8px 16px 0;
  font-weight: bold;
}

.loading {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;

  font-weight: bold;
}
.projects-assigned{
  display: flex;
  flex-direction: row-reverse;
}
.subtasks {
  display: flex;
}

.menu-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Raleway';
  background-color: #ff6600;
  align-items: center;
}
.item-nav {
  color:white;
  text-decoration: none;
  font-weight: 600;
}
.item-nav :hover{
  opacity: 0.7;
}
.li-img {
  width: 100%;
  margin: 6px;
}

form {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center; 
}

h3 {
  margin-left: 5em;
  /* margin-right: 20em; */
  text-align: left; 
}

form > button {
  color: #333;
  width: 250px;
  margin: 3px;
  border-radius: 5px;
}

select {
  width: 175px;
}

.view-button {
  text-decoration: none;
  font-weight: 800;
  font-family: 'Raleway';
  color: #ff6600;
}

.aligned {
  text-align: left;
  width: 50px;
}

.dark-text {
  color: #333;
}

.titles-detail {
    /* margin-left: 20em;
    margin-right: 20em; */
    text-align: center; 
}

.text-details {
  text-align: center; 
  margin: 5px;
}

.exit {
  cursor: pointer;
}

.bold-text {
  font-weight: 800;
}